/* CSS Document */

.keyboard{
	width:1100px;height:372px;
	background:rgba(0,0,0,0.85) url(../images/keyBoard_bg.png);
	border:2px solid rgba(0,0,0,0.85);
	position:absolute;
	bottom:0px;
	left:50%;
	margin:0 0 0 -590px;
	line-height:72px;
	padding:20px 40px;
	}
.keyboard .current{
	color:#FFF;
	background:url(../images/keyBoard_focus.png) no-repeat center bottom;
	height:75px;
	padding-top:25px;
	margin-top:-25px;
	margin-bottom:-3px;
	position:relative;
	z-index:2;
	}
.keyInput{color:#FFF;padding-left:30px;height:72px;line-height:72px;}
.keySelect{color:#FFF;height:72px;}
.keySelect li{float:left;width:125px;text-align:center;}
.keyboardList li{height:72px;float:left;width:90px;text-align:center;}
.keyboardList li.current{width:100px;margin-left:-5px;margin-right:-5px;}
.keyboardList li:nth-child(11){width:200px;}
.keyboardList li:nth-child(22){width:200px;}
.keyboardList li:nth-child(33){width:200px;}

.keyboardList li:nth-child(11).current{width:200px;margin-left:0;margin-right:0;}
.keyboardList li:nth-child(22){width:200px;margin-left:0;margin-right:0;}
.keyboardList li:nth-child(33){width:200px;margin-left:0;margin-right:0;}

.keyboardLine{
	position:absolute;left:0;
	width:1180px;height:1px;
	z-index:1;
	background:-webkit-gradient(linear,left top,right top,from(rgba(26,31,32,0)),to(rgba(26,31,32,0)),color-stop(0.1,rgba(26,31,32,1)),color-stop(0.9,rgba(26,31,32,1)));}
.keyline_1{top:164px;}
.keyline_2{top:236px;}
.keyline_3{top:308px;}
.keyline_4{top:380px;}

.keyText{float:left;}
.keyCursor{float:left;width:15px;height:72px;display:inline-block;background:url(../images/cursor.png) no-repeat right center;}
.keyBackSpace{height:72px;background:url(../images/keyBackSpace.png) no-repeat center center;}




